@font-face {
    font-family: 'Samim';
    src: url('../vendor/fontawesome-free/webfonts/Samim.woff?') format('woff');
url('../vendor/fontawesome-free/webfonts/Samim.eot?')    format('eot');
url('../vendor/fontawesome-free/webfonts/Samim.ttf?')    format('truetype');

}

body {
    direction: rtl;
    text-align: right;


}

p {
    font-family: "Samim", sans-serif;
}

.asirefontshod {
    font-family: "Samim", sans-serif;
}

h1 {
    font-family: "Samim", sans-serif;
}

.post-meta {
    text-align: left;
}


.nav ul {
    padding-right: 0;
}

.nav ul li {
    border-bottom: none;
    height: 86px;
    line-height: 86px;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin: 0 auto;
}

.nav ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
    transition: .3s background-color;
    padding: 0 24px;
}

.nav ul li a:hover {
    background-color: #5c89c7;
    color: #FFFFFF;
}

.nav a {
    border-bottom: none;
}

.nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.nav li:hover ul {
    display: block;
}

.nav ul li ul li {
    display: block;
    float: none !important; /* newly added */
    height: auto; /* newly added */
    line-height: 34px; /* newly added */
}

.nav ul li ul li ul {
    position: absolute;
    right: 100%;
    top: 0;
    display: none !important;
}

.nav ul > li > ul > li:hover > ul {
    display: block !important;
}

.nav ul > li > ul > li > ul > li:hover > ul {
    display: block !important;
}

.popular_articles {
    border: 1px solid #bfbfbf;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: -5px 5px #d5d5d5;
}

aside {
    width: 240px;
    position: absolute;
    left: -240px;
    top: 0;

}

